* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #5286b0;
  --second: #c8f1f5;
  --bgColor: #3e1a9fe3;
}

h1,
h2,
h4,
p {
  color: whitesmoke;
}

body {
  position: relative;
  background: var(--bgColor);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
